body{
    margin:0px;
}

h1{
    color: #a72021;
    font-size: 14pt;
}
h2{
    color: #efa254;
    border-bottom: 1px solid #eee;
}
.FeaturedDesc{
    color: #efa254;
    font-weight: 600;
    text-align: left;
}
#app {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

.itemFound{
    padding: 10px;
    border: 1px solid #eee;
    background: #f9f9f9;
}

#menuBox{
    display: flex;
    flex-direction: row;
    height: 50px;
    background: #983939;
}
#menu {
    margin: 0px;
    flex: 50%;
    background-color: #311010;
    flex-direction: column;
    position: fixed;
    left: -215px;
    top: 0;
    opacity: 1;
    transition: left 0.5s, opacity 0.5s;
    height: 100vh;
    z-index: 2;
}
#searchBar{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu a {
    display: flex;
    flex: 1;
    background: #311010;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #652727;

}
#menu a:hover {
    background: #652727;
}
#menu a:first-child {
    margin-top: 50px;
}

#close{
    top: 0;
    right: 0;
    position: absolute;
     color: white;
    font-size: 30px;
    padding: 5px;
    margin: 5px
}
#open{
    top: 0;
    left: 0;
    color: white;
    font-size: 30px;
    padding: 5px;
    margin: 5px;
    border: #b97474 1px solid;
}

#topnav > p {
    top: 0;
    right: 0;
    position: absolute;
    flex: 50%;
    padding-right: 2%;
    color: white;
}

#content{
    margin: 20px;
}

#meal-search{
    display: flex;
    height: 40px;
    width: 90%;
}
.inline-search{
    display: flex;
    flex-direction: column;
}

.imagesItems{
    width: 250px;
}
items{
    
}
.field{
    display: flex;
    flex-direction: row;
}
#productDiv{
    display: flex;
    flex-direction: column;
}
#productImage{
    display: flex;
    flex-direction: column;
}
#productImage img{
   margin: 5px;
}

#boldProName{
    font-weight: 100;
    color: #ffffff;
    background: #4CAF50;
    padding: 10px;
    margin: 0;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
    
}
button,input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
    -webkit-appearance: none;
}

#divFeaturedImages{
    width: 100%;
    display: inline-flex;
    margin: 5px;
}

.featuredImageBox{
    display: flex;
    width: 80%;
    margin: 10px;
    flex: 2;
   
}

#commentImg{
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#commentText{
    color: black;
    text-align: left;
    flex: 3;
}

.checked {
  color: orange;
}
.bannerImg{
    width: 100%;
}

button.searchButton {
    padding: 10px;
    height: 40px;
}
.displayReviews{
    display: flex;
    flex-direction: row;
}

.FeaturedBurgers{
    color: #d84e00;
    font-weight: 600;
    text-align: center;
}

.red{
    background: #a20d0d !important;
}

hr {
    border-top: dotted 2px;
}

/* Search */
.search-content {
    margin: 20px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.col-4,
.col-8 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.restaurant-container {
    margin: 20px 0;
    border-color: lightgray;
}

.restaurant-container .restaurant-img {
    background-image: url("./imgs/burger.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.restaurant-container h3{
    color: #efa254;
}

.search-panel {
    margin: 0 40px;
}

.search-panel > .search-controls {
    display: flex;
}

.search-controls > .dropdownloc{
    width: 150px;
    border-color: #983939;
}

.search-controls > .dropdownpri{
    margin-left: 20px;
    width: 80px;
    border-color: #983939;
}

.search-panel > .searchbut{
    padding: 10px;
    height: 40px;
    background-color: #000;
    width: 100px;
    text-align: center;
    align-content: center;
    border-radius: 20px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .cover-img>.cover-name {
        font-size: 4em;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .cover-img>.cover-name {
        font-size: 5em;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .cover-img>.cover-name {
        font-size: 6em;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .cover-img>.cover-name {
        font-size: 7em;
    }
}

/* 
 * Restaurant page
 */
 .bannerImg-restaurant{
    width: 100%;
    width: 100%;
    background-image: url(./imgs/restaurant.png);
    background-size: cover;
    background-position: center;
    height: 450px;
}

.restaurant-view {
    display: flex;
    flex-direction: row;
}

.restaurant-view h3 {
    color: #efa254;
    font-weight: 600;
    text-align: left;
}