body{
    margin:0px;
}

#app {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

#menuBox{
    display: flex;
    flex-direction: row;
        height: 50px;
    background: #983939;
}
#menu {
    margin: 0px;
    flex: 50%;
    background-color: #311010;
    flex-direction: column;
    position: fixed;
    left: -150px;
    top: 0;
    opacity: 1;
    transition: left 0.5s, opacity 0.5s;
    height: 100vh;
}
#searchBar{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu a {
    display: flex;
    flex: 1;
    background: #311010;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #652727;

}
#menu a:hover {
    background: #652727;
}
#menu a:first-child {
    margin-top: 50px;
}

#close{
    top: 0;
    right: 0;
    position: absolute;
     color: white;
    font-size: 30px;
    padding: 5px;
    margin: 5px
}
#open{
    top: 0;
    left: 0;
    color: white;
    font-size: 30px;
    padding: 5px;
    margin: 5px;
    border: #b97474 1px solid;
}

#topnav > p {
    top: 0;
    right: 0;
    position: absolute;
    flex: 50%;
    padding-right: 2%;
    color: white;
}
#content{
    margin: 20px;

}
#meal-search{
    display: flex;
    height: 40px;
    width: 90%;
}
.inline-search{
    display: flex;
    flex-direction: column;
}

.imagesItems{
    width: 250px;
}
items{
    
}
.field{
    display: flex;
    flex-direction: row;
}
#productDiv{
    display: flex;
    flex-direction: column;
}
#productImage{
    display: flex;
    flex-direction: column;
}
#productImage img{
   margin: 5px;
}

#boldProName{
    font-weight: 100;
    color: #ffffff;
    background: #4CAF50;
    padding: 10px;
    margin: 0;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
    
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}


#divFeaturedImages{
    width: 100%;
    display: inline-flex;
    margin: 5px;
}

.featuredImageBox{
    display: flex;
    width: 80%;
    margin: 10px;
   
}
